$amarelo: #ecd610;
$amarelo-fosco: #ffe50080;
$azul: #0047ff;
$azul-fosco: #0047ffd9;
$branco: #ffffff;
$branco-fosco: #ffffff80;
$preto: #000000;
$rosa: #ffb6b6;
$rosa-fosco: #eb2c7299;
$roxo: #6626b5;
$verde: #00b132;
$verde-fosco: #00b13280;
$vermelho: #ff0000;
$vermelho-fosco: #ff000080;

$borda: #d9d9d933;
$background-default: #ffffff40;
$background-input: #ffffff33;

.fonte-branca {
   color: $branco;
}
