<div class="content d-flex justify-content-center align-items-center">
   <section class="w-50 h-100 d-flex justify-content-center align-items-center flex-column">
      <h3 class="text-center fonte-branca fs-1 mb-5">Bem Vindo<br />de Volta!</h3>
      <form [formGroup]="form"(ngSubmit)="logar()" class="w-75">
         <div class="mb-3">
            <label for="inputLogin" class="form-label">Login</label>
            <input type="text" class="form-control input" id="inputLogin" formControlName="login" placeholder="marciasva" />
         </div>
         <div class="mb-3">
            <label for="inputSenha" class="form-label">Senha</label>
            <input type="password" class="form-control input" id="inputSenha" formControlName="senha" placeholder="**********" />
         </div>
      </form>
      <div class="w-75">
         <a [routerLink]="['/auth/reset-password']">Esqueceu sua senha?</a>
         <p class="fonte-branca">Não tem uma conta? <a [routerLink]="['/auth/register']">Cadastre-se</a></p>
      </div>
      <button class="btn btn-primary rounded-pill mt-2 py-2 px-5" (click)="logar()">Entrar</button>
   </section>
   <section class="w-50 h-100 d-flex justify-content-center align-items-center">
      <object data="/images/imagem-1.svg" aria-details="Uma ilustração apontando em um quadro" width="350" height="400"></object>
   </section>
</div>
