<div class="content d-flex justify-content-center align-items-center">
   <section class="w-50 h-100 d-flex justify-content-center align-items-center">
      <object data="/images/imagem-2.svg" aria-details="Uma ilustração apontando em um quadro" width="400" height="400"></object>
   </section>
   <section class="w-50 h-100 d-flex justify-content-center align-items-center flex-column">
      <h3 class="text-center fonte-branca fs-1">Cadastre-se</h3>
      <form action="" class="w-75">
         <div class="mb-2">
            <label for="inputNome" class="form-label">Nome</label>
            <input type="email" class="form-control input" id="inputNome" placeholder="ex: Márcia Silva" />
         </div>
         <div class="mb-2">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control input" id="inputEmail" placeholder="name@example.com" />
         </div>
		 <div class="mb-2">
            <label for="inputLogin" class="form-label">Login</label>
            <input type="text" class="form-control input" id="inputLogin" placeholder="marciasva" />
         </div>
         <div class="mb-2">
            <label for="inputSenha" class="form-label">Senha</label>
            <input type="password" class="form-control input" id="inputSenha" placeholder="**********" />
         </div>
         <div class="mb-2">
            <label for="inputConfirmarSenha" class="form-label">Repita Sua Senha</label>
            <input type="password" class="form-control input" id="inputConfirmarSenha" placeholder="**********" />
         </div>
      </form>
      <div class="w-75">
         <p class="fonte-branca">Já tem uma conta? <a [routerLink]="['/auth/login']">Entre</a></p>
      </div>
      <button class="btn btn-primary rounded-pill mt-2 py-2 px-5">Cadastrar</button>
   </section>
</div>
