<div class="content d-flex justify-content-center align-items-center gap-3">
   <div class="w-100 d-flex justify-content-center pt-2">
      <h3 class="text-center fonte-branca fs-1">Comunicação com os clientes</h3>
   </div>
   <div class="w-100 row px-5">
      <div class="mb-3 col">
         <label for="linkInput" class="form-label">Nome</label>
         <input type="text" class="form-control" id="linkInput" />
      </div>
      <div class="mb-3 col">
         <label for="linkInput" class="form-label">CPF</label>
         <input type="text" class="form-control" id="linkInput" />
      </div>
      <button class="btn btn-success rounded-pill mt-2 py-2 px-5 col-2" (click)="filtrar()">Filtrar</button>
   </div>
   <div class="h-100 w-100 px-5">
      <table class="w-100">
         <tbody class="w-100">
            @for (item of [1,2,3,4,5,6,7]; track $index) {
            <tr class="w-100">
               <td>Wiris Wernek</td>
               <td>194.074.457-12</td>
               <td>01/02/2023</td>
            </tr>
            }
         </tbody>
      </table>
   </div>
</div>
