<div class="content d-flex justify-content-center align-items-center">
   <section class="w-50 h-100 d-flex justify-content-center align-items-center flex-column">
      <h3 class="text-center fonte-branca fs-1 mb-5">Esqueceu sua<br />Senha?</h3>
      <form [formGroup]="form"(ngSubmit)="alterar()" class="w-75">
         <div class="mb-3">
            <label for="inputLogin" class="form-label">Login</label>
            <input type="text" class="form-control input" id="inputLogin" formControlName="login" placeholder="marciasva" />
         </div>
         <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control input" id="inputEmail" formControlName="email" placeholder="name@example.com" />
         </div>
      </form>
      <button class="btn btn-primary rounded-pill mt-2 py-2 px-5" (click)="alterar()">Redefinir</button>
   </section>
   <section class="w-50 h-100 d-flex justify-content-center align-items-center">
      <object data="/images/imagem-1.svg" aria-details="Uma ilustração apontando em um quadro" width="400" height="400"></object>
   </section>
</div>
