/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "../public/scss/fonts.scss";
@import "../public/scss/colors.scss";
@import "../public/scss/variables.scss";
@import "../public/scss/inputs.scss";
@import "../public/scss/buttons.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Be Vietnam Pro", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: rgb(184, 70, 112);
  background: linear-gradient(
    113deg,
    #b84670 0%,
    #6626b5 49.5%,
    #394ec7 99.99%
  );
}

.content {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
}
